.car {
    position: absolute;
    top: 384px;
    left: 146px;
    z-index: 1;
}

.car_forward {
    background: url(images/car.png) no-repeat !important;
    width: 70px;
    height: 50px;
}
.car_back {
    background: url(images/car_back.png) no-repeat !important;
    width: 50px;
    height: 70px;
}

.deg30 { 

    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.deg175 { 
    -webkit-transform: rotate(175deg);
    -moz-transform: rotate(175deg);
    -ms-transform: rotate(175deg);
    -o-transform: rotate(175deg);
    transform: rotate(175deg);
}